body, html {
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
body {
    background-image: url("background.jpg ");
    
   }
.calculator {
    border: 2px solid rgb(0, 0, 0);
    width: 50vh;
    height: 80vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: none;
    max-height: fit-content;
   
}

.buttonImages{
    border-radius: 30px;
    border: solid black;
    border-width: 5px;
    max-width: 25%;
}
.buttonLegend{
    display: flex;
    flex-direction: column;
    flex: none;
    margin-top: 5%;
}
.imageContainer{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
 
}
.legendText{
    padding-left: 5%;
}

.container {
    position: relative;
    display: flex;
 
    
}
.calcRow {
    display: flex;
    flex: 1 0 0;
   

}
#display {
    box-shadow: inset 2px 5px 20px rgb(107, 105, 105);
    flex: 4 1 0;
    text-align: end;
    padding-right: 5%;
    font-size: 400%;
    overflow-x: auto;
    height: fit-content;
}
button {
    flex: 1 0 0;
   
}

#topRow{
    display: flex;
    height: auto;
    flex: initial;
}
#clear{
    min-width: 25%;
}