body, html {
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.9em;
}

.calculator {
    border: 2px solid rgb(0, 0, 0);
    width: 40%;
    height: 40%;
    min-width: 200px;
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calcRow {
    display: flex;
    flex: 1 1 0;

}
#display {
    box-shadow: inset 2px 5px 20px rgb(107, 105, 105);
    flex: 4 1 0;
    text-align: end;
    padding-right: 5%;
    
}
button {
    flex: 1 1 0;
}
#clear {
    flex: 1 1 0;
}
